<header class="header">
    <div class="div-header">
        <app-botao-voltar></app-botao-voltar>
        <button *ngIf="musicas.length > 0" class="criar-button">Criar</button>    
    </div>

    <app-pesquisa-component (textoBusca)="filtrarMusicas($event)"></app-pesquisa-component>    
</header>
<app-nenhuma-musica-content *ngIf="musicas.length === 0 && !pesquisando"></app-nenhuma-musica-content>

<div class="nenhum-resultado" *ngIf="musicas.length === 0 && pesquisando">
  Nenhuma música encontrada para sua busca.
</div>

<div class="music-list" *ngIf="musicas.length > 0">
    <app-musica
        *ngFor="let musica of musicas"
        [dados]="musica"
        (linkCopiado)="mostrarNotificacao()"
        >
    >
    </app-musica>
</div>

<div class="notificacao" *ngIf="notificacaoVisivel">
  Link copiado com sucesso!
</div>