<form class="form-container" (ngSubmit)="salvar()">
    <app-input-forms placeholder="Nome da música" [(ngModel)]="musica.nome" name="nome"></app-input-forms>

    <app-input-forms placeholder="Tom da música" [(ngModel)]="musica.tom" name="tom"></app-input-forms>

    <app-input-forms placeholder="Versão da música" [(ngModel)]="musica.versao" name="versao"></app-input-forms>

    <app-input-forms placeholder="Dificuldade" [(ngModel)]="musica.dificuldade" name="dificuldade"></app-input-forms>

    <app-input-forms placeholder="Link da música" [(ngModel)]="musica.link" name="link"></app-input-forms>

    <app-input-forms placeholder="Cifra da música" [(ngModel)]="musica.cifra" name="cifra"></app-input-forms>

    <button class="save-button" type="submit">SALVAR</button>
</form>