<form class="form-container" #form="ngForm" (ngSubmit)="salvar(form)">
    <app-input-forms placeholder="Nome da música" [(ngModel)]="musica.nome" name="nome"></app-input-forms>

    <app-select-input-component
        placeholder="Tom da música"
        [(ngModel)]="musica.tom"
        name="tom"
        [options]="tons"
        required
        >
    ></app-select-input-component>

    <app-input-forms placeholder="Versão da música" [(ngModel)]="musica.versao" name="versao"></app-input-forms>

    <app-select-input-component
        placeholder="Dificuldade"
        [(ngModel)]="musica.dificuldade"
        name="dificuldade"
        [options]="dificuldades"
        >
    ></app-select-input-component>

    <app-input-forms placeholder="Link da música" [(ngModel)]="musica.link" name="link"></app-input-forms>

    <app-input-forms placeholder="Cifra da música" [(ngModel)]="musica.cifra" name="cifra"></app-input-forms>

    <button class="save-button" type="submit">SALVAR</button>
</form>